<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>EvE Wallet - {{ title }}</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.7.1.js'></script>

    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    
    <style type="text/css">
      th.ral ,
      td.ral {
        text-align: right;
      }
    </style>
    {% block extra_head %}{% endblock %}
    
    <script type='text/javascript'>
      $(window).load(function(){
        $('.dropdown-toggle').dropdown();
        
        var item_data = {};
        var item_names = [];    

        $('#searchinput').typeahead({
        source:function ( query, process ) {
            //the "process" argument is a callback, expecting an array of values (strings) to display

            //get the data to populate the typeahead (plus some) 
            //from your api, wherever that may be
            $.getJSON( 'http://localhost:5000/_typeahead_data', { q: $("#searchinput").val() }, function ( data ) {   
                //reset these containers
                item_data = {};
                item_names = [];

                for (var i = 0; i <data.result.length; i++) {                
                    //console.debug(data.result[i])
               
                    //add the label to the display array
                    item_names.push( data.result[i][1] );

                    //also store a mapping to get from label back to ID
                    item_data[ data.result[i][1] ] = data.result[i][0];
                    $( "#debug" ).text( data.result[i][1]);
                };
                //return the display array
                process( item_names );
            });
            
        }
        , updater: function (item) {
            //save the id value into the hidden field   
            $( "#searchid" ).val( item_data[ item ] );
            document.forms["searchform"].submit();
            return item;
        }
        });
    });
    </script>
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <!-- Be sure to leave the brand out there if you want it shown -->
            <a class="brand" href="#">Project name</a>

            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse">

                {% if session.logged_in %}
                <ul class="nav pull-left">
                    <li><a href="/overview">Overview</a></li>
                    <li><a href="/orders">Orders</a></li>
                    <li><a href="/transactions">Transactions</a></li>
                    <li><a href="/assets">Assets</a></li>
                    <li><a href="/market">Market</a></li>
                    <!--<li><a href="/industry">Industry</a></li>-->
                    <!--<li><a href="/assets">Assets</a></li>-->
                    <li class="dropdown" id="tools-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#tools-menu"> Tools <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <li><a href="/stock">Stock Station</a></li>
                            <li><a href="/import">Import Finder</a></li>
                            <li><a href="/export">Export Finder</a></li>
                            <li><a href="/margin">Margin Finder</a></li>
                            <li class="divider"></li>
                            <li><a href="/top">Top Items</a></li>
                            <li class="divider"></li>
                            <li><a href="/update">Order Updater</a></li>
                            <li><a href="/scan">Market Scanner</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
                <ul class="nav pull-right">
                    {% if not session.logged_in %}
                    <li><a href="/login">Login</a></li>
                    {% else %}   
                    
                    <form class="navbar-search pull-left" id='searchform' method="post" action="/search">
                        <i class="icon-search"></i>               
                           <input type="hidden" 
                           name="search_id"
                           id="searchid"
                           class="search-query"
                           value="-1"
                           />
                        <input type="text" 
                           name="search_term"
                           id="searchinput"
                           class="search-query" 
                           placeholder="Item..." 
                           data-provide="typeahead"
                           autocomplete="off"
                           /> 
                    </form>
                    <li class="divider-vertical"></li>
                    <li class="dropdown" id="user-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#user-menu">
                            <i class="icon-user"></i>
                            {{ session.username }} 
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/characters">Characters</a></li>
                            <li><a href="/api">API</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
    
            </div><!--/.nav-collapse -->
      
        </div>
 
    </div>
  </div>
</div>

{% for message in get_flashed_messages(category_filter=["error"]) %}
   <div class="alert alert-error">
     <button type="button" class="close" data-dismiss="alert">x</button>
     <strong>Error:</strong> {{ message }}
   </div>
{% endfor %}

{% for message in get_flashed_messages(category_filter=["warning"]) %}
   <div class="alert">
     <button type="button" class="close" data-dismiss="alert">x</button>
     <strong>Warning:</strong> {{ message }}
   </div>
{% endfor %}

{% for message in get_flashed_messages(category_filter=["success"]) %}
   <div class="alert alert-success">
     <button type="button" class="close" data-dismiss="alert">x</button>
     <strong>Success:</strong> {{ message }}
   </div>
{% endfor %}

{% for message in get_flashed_messages(category_filter=["note"]) %}
   <div class="alert alert-info">
     <button type="button" class="close" data-dismiss="alert">x</button>
     <strong>Note:</strong> {{ message }}
   </div>
{% endfor %}

<div class="container">

    {% block content %}{% endblock %}

    <hr>
    <footer>
        <p> - scruffd</p>
        
    </footer>

<span id=debug>?</span>

</div><!--/container-->

    <!-- Le javascript (from working example)
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <!-- 
    <script src="/static/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/static/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/static/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/bootstrap/js/bootstrap-button.js"></script>
    <script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>
    -->
</body>
</html> 








