{% extends "base.html" %}

{% block extra_head %}
    <script type="text/javascript">
    function open_market(type_id) {
        CCPEVE.showMarketDetails(type_id);
    }
</script>

    <style type="text/css">
    table.strapless{
      width:100%;
      background-color: transparent;
      border-collapse:collapse 
      border-style:none;
    }
    tr.strapless {
    max-width: 100%;
    border:none;
    background-color: transparent;
    }
    td.strapless {
    text-align:right;
    border:none;
    background-color: transparent;
    }   
    td.straplessr {
    text-align:left;
    border:none;
    background-color: transparent;
    }
    </style>
{% endblock %}
 
{% block content %}

    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
              <h1>{{source_data["name"]}} to {{dest_data["name"]}}<small> {{title}} </small></h1>
            </div> 

            <form method="post" action="/{{action}}">
           
                <legend>Options</legend>
                
                <div class="row-fluid">                    
                    <div class="span3"> 
                        <label>Source System</label>
                        <select name="source" class="span8">
                          <option>K-6K16</option>
                          <option>6VDT-H</option>
                          <option>HED-GP</option>
                          <option>NOL-M9</option>
                          <option>Otela</option>
                          <option>Liekuri</option>
                          <option>Stacmon</option>
                        </select>
                        <span class="help-block">System where items will be sourced.</span>
                    </div>  
                    <div class="span3">
                        <label>Market Hub</label>
                        <select name="dest" class="span8">
                          <option>Jita</option>
                        </select>
                        <span class="help-block">System where items are sold.</span>
                    </div>  

                    <div class="span3"> 
                        <label>Hauling Cost</label>
                        <input name="cost" type="text" value="275" class="span8">
                        <span class="help-block">Cost per m3 of hauling items.</span>
                    </div>  
                    <div class="span3"> 
                        <br>
                        <button type="submit" class="btn btn-large btn-primary">Go</button>
                        <a href="/scan" class="btn btn-large">Scan</a>
                        <br>
                    </div>  
                </div>  
            </form>
            
            <table class="table table-bordered">
                <thead>
                    <th scope="col">Item</th>
                    <th scope="col">{{dest_data["name"]}} Price</th>
                    <th scope="col">{{source_data["name"]}} Price</th>
                    <th scope="col">Profit</th> 
                </thead>
                <tbody>
                  {% for row in (data) %}
                  <tr>
                    <td><a href="Javascript:open_market({{row[0]}})"><i class="icon-search"></i></a> <a href="/item/{{row[0]}}">{{row[1]}}</a></td>
                    <td>
                        <table class="strapless">
                            <tr class="strapless">
                                <td class="strapless" align="right" width="50%">Buy Price:</td> 
                                <td class="strapless"  align="left" nowrap>{{'{:20,.2f}'.format(row[2])}}</td>
                            </tr>
                            <tr class="strapless">
                                <td class="strapless" align="right" width="50%">Export:</td>  
                                <td class="strapless" nowrap>{{'{:20,.2f}'.format(row[3])}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="strapless">
                            {% for sell_order in row[4] %}
                            <tr class="strapless">              
                                <td class="strapless" align="right" width="50%">{{sell_order[1]}} @ </td>  
                                <td class="strapless" align="right" width="50%">{{'{:20,.2f}'.format(sell_order[0])}}
                                <strong class="text-success">({{'{:,.0f}'.format(100*(sell_order[0]-row[3])/row[3])}}%)</strong>
                                </td> 
                            </tr>
                            {%- endfor %}
                        </table>
                    </td>
                    <td> 
                        <table class="strapless">
                        <tr class="strapless">
                                <td class="strapless" align="right">{{'{:20,.2f}'.format(row[5])}}</td>  
                        </tr>
                        </table>

                    </td>
                  </tr>    
                  {%- endfor %}
                <tbody>
            </table>

        </div><!--/span-->
    </div><!--/row-->

{% endblock %}
