{% extends "base.html" %}

{% block extra_head %}
    <script type="text/javascript">
    function open_market(type_id) {
        CCPEVE.showMarketDetails(type_id);
    }
</script>

    <style type="text/css">
    table.strapless{
      width:100%;
      background-color: transparent;
      border-collapse:collapse 
      border-style:none;
    }
    tr.strapless {
    max-width: 100%;
    border:none;
    background-color: transparent;
    }
    td.strapless {
    text-align:right;
    border:none;
    background-color: transparent;
    }   
    td.straplessr {
    text-align:left;
    border:none;
    background-color: transparent;
    }
    </style>
{% endblock %}
 
{% block content %}

    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
              <h1>{{source_data["name"]}} to {{dest_data["name"]}}<small> {{title}} </small></h1>
            </div> 

            <form method="post" action="/{{action}}">
           
                <legend>Options</legend>
                
                <div class="row-fluid">
                    <div class="span3">
                        <label>Market Hub</label>
                        <select name="source" class="span8">
                          <option>Jita</option>
                        </select>
                        <span class="help-block">System where items are sourced.</span>
                    </div>  
                    <div class="span3"> 
                        <label>Destination System</label>
                        <select name="dest" class="span8">
                            {%for dest in ["Karan","Stacmon","Orvolle","NOL-M9","6VDT-H","HED-GP","K-6K16"]%}
                                {% if dest==dest_data["name"]%}
                                    <option selected="selected">{{dest}}</option>
                                {% else%}
                                    <option>{{dest}}</option>
                                {% endif%}
                            {%- endfor %}
                        </select>
                        <span class="help-block">System where items will be sold.</span>
                    </div>  
                    <div class="span3"> 
                        <label>Hauling Cost</label>
                        <input name="cost" type="text" value="{{cost}}" class="span8">
                        <span class="help-block">Cost per m3 of hauling items.</span>
                    </div>  
                    <div class="span3"> 
                        <br>
                        <button type="submit" class="btn btn-large btn-primary">Go</button>
                        <a href="/scan" class="btn btn-large">Scan</a>
                        <br>
                    </div>  
                </div>  
            </form>
            
            <table class="table table-bordered">
                <thead>
                    <th scope="col">Item</th>
                    <th class="ral" scope="col">Weekly Vol</th>
                    <th class="ral" scope="col">{{source_data["name"]}} Price</th>
                    <th class="ral" scope="col">{{dest_data["name"]}} Price</th>
                    <th class="ral" scope="col">Age</th> 
                </thead>
                <tbody>
                  {% for row in (data) %}
                  <tr>
                    <td><a href="Javascript:open_market({{row[0]}})"><i class="icon-search"></i></a> <a href="/item/{{row[0]}}">{{row[1]}}</a></td>
                    <td>
                        <table class="strapless">
                            <tr class="strapless">
                                <td class="strapless" align="right" width="50%">Weekly:</td> 
                                <td class="strapless"  align="left" nowrap>{{'{:20,.1f}'.format(row[2])}}</td>
                            </tr>
                            {%- if row[6] %}
                            <tr class="strapless">
                                <td class="strapless" align="right" width="50%">Stock:</td>  
                                <td class="strapless" nowrap>
                                {%- if row[6]>2*row[2] %}
                                <strong class="text-error">
                                {%- elif row[6]>row[2] %}
                                <strong class="text-warning">
                                {%- else %}
                                <strong class="text-success">
                                {%- endif %}
                                ({{'{:,.0f}'.format(100*(row[6])/row[2])}}%)</strong>{{'{:20,.1f}'.format(row[6])}}</td>   
                            </tr>
                            {%- endif%}
                        </table>
                    </td>
                    <td>
                        <table class="strapless">
                            <tr class="strapless">
                                <td class="strapless" align="right" width="50%">Jita:</td> 
                                <td class="strapless" align="left" nowrap>{{'{:,.0f}'.format(row[3])}}</td>
                            </tr>
                            <tr class="strapless">
                                <td class="strapless" align="right" width="50%">Import:</td>
                                <td class="strapless" align="left" nowrap>{{'{:,.0f}'.format(row[4])}}</td>
                            </tr>
                        </table>
                    </td>
                    {%- if not row[5] %}
                    <td> 
                        <table class="strapless">
                            <tr class="strapless">     
                                 <td class="strapless"><strong class="text-success">None</strong></td>                       
                            </tr>
                        </table>
                    </td>
                    {%- else%}
                    <td>
                        <table class="strapless">
                            <tr class="strapless">
                                <td class="strapless" align="right" width="50%">{{dest_data["name"]}}:</td> 
                                <td class="strapless" nowrap>{{'{:,.0f}'.format(row[5])}}
                                {%- if row[5] < row[4] %}
                                <strong class="text-error">
                                {%- elif row[5] < 1.3*row[4] %}
                                <strong class="text-warning">
                                {%- else %}
                                <strong class="text-success">
                                {%- endif %}
                                ({{'{:,.0f}'.format(100*(row[5]|float-row[4])/row[4])}}%)</strong></td>   
                            </tr>
                            <tr class="strapless">
                                <td class="strapless" align="right" width="50%">Competitors:</td>
                                <td class="strapless" nowrap>
                                {%- if row[7]>4 %}
                                <strong class="text-error">
                                {%- elif row[7]>2 %}
                                <strong class="text-warning">
                                {%- else %}
                                <strong class="text-success">
                                {%- endif %}
                                {{'{:,}'.format(row[7])}}</strong></td>   
                            </tr>
                        </table>
                    </td>
                    {%- endif%}
                    <td> 
                        <table class="strapless">
                            <tr class="strapless">                           
                                <td class="strapless text-success">{{row[8]}}</td>               
                            </tr>
                        </table>
                    </td>
                  </tr>    
                  {%- endfor %}
                <tbody>
            </table>

        </div><!--/span-->
    </div><!--/row-->

{% endblock %}
