{% extends "base.html" %}
{% block extra_head %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
var chart1; // globally available
$(document).ready(function() {
    var options = {
        chart: {renderTo: 'chart_div',zoomType: 'x',},
        //title: {text: 'Transactions'},
        //xAxis: {type: 'datetime', title: {text: 'Date'},},
        //yAxis: {title: {text: 'Price'},min: 0,},
        //plotOptions: { spline:{lineWidth: 2,states: {hover: {lineWidth: 4}}, marker: { enabled: false,states: {hover: {enabled: true,symbol: 'circle',radius: 5, lineWidth: 1 }}},}},
        series: []
    };
    
    $.get('{{url_for('data_history')}}', function(data) {
        // Split the lines
        var lines = data.split('\n');
        var newSeries = { //type: 'spline',
                       name: 'Hist',
                       //color: 'rgba(0, 150, 221, .5)',
                       data: []};

        // Iterate over the lines and add data
        $.each(lines, function(lineNo, line) {
            var items = line.split(',');
            //newSeries.data.push([Date(items[0]),parseFloat(items[1])]);
            newSeries.data.push([1.0,1.0]);
        });
        options.series.push(newSeries);
    });
    
    console.log(options);
    // Create the chart
    chart1 = new Highcharts.Chart(options);
    // console.log(chart1);
});
    
</script>
{% endblock %}


{% block content %}
 
    
    <div class="row-fluid">
        <div class="span12">
            <h2>Historical Transaction Data <small>Buy and Sell</small></h2>
            <!--<div id="chart_div" style="width: 900px; height: 500px;"></div>-->
            <div id="chart_div" style="height: 400px;"></div>
        </div><!--/span--> 
    </div><!--/row-->    
    
    <hr>

  
{% endblock %}


