{% extends "base.html" %}

{% block extra_head %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<style type="text/css">
  @import "/static/datatables/css/demo_table.css";
</style>

<script class="jsbin" src="http://datatables.net/download/build/jquery.dataTables.nightly.js"></script>

<script type="text/javascript">
    var chart1; // globally available  
$(document).ready(function(){
// tables
    $('#tabletrans').dataTable({
    "iDisplayLength": 15,
    "aLengthMenu": [[15,50,100,500,-1], [15,50,100,500, "All"]],
    "aaSorting": [[ 2, "desc" ]],
    });
    $('#tableorder').dataTable({
    "iDisplayLength": 15,
    "aLengthMenu": [[15,50,100,500,-1], [15,50,100,500, "All"]]
    });
    $('#tableasset').dataTable({
    "iDisplayLength": 15,
    "aLengthMenu": [[15,50,100,500,-1], [15,50,100,500, "All"]]
    });
// chars  
    chart1 = new Highcharts.Chart({
        chart: {renderTo: 'chart_div',zoomType: 'x'},
        title: {text: 'Transactions'},
        xAxis: {type: 'datetime',title: {text: 'Date'},},
        yAxis: {title: {text: 'Price'},min: 0},
        plotOptions: {
            spline: {lineWidth: 2,states: {hover: {lineWidth: 4}}, marker: {enabled: false,states: {hover: {enabled: true,symbol: 'circle',radius: 5,lineWidth: 1}}}}
        },
        series: [{
            type: 'scatter',
            name: 'Buy',
            color: 'rgba(223, 83, 83, 1)',
            data: [
            {% for row in transactions -%}
                {% if row.transactionType == 'buy' -%}
                  [ Date.UTC({{row.transactionDateTime.year}},{{row.transactionDateTime.month-1}},{{row.transactionDateTime.day}},{{row.transactionDateTime.hour}},{{row.transactionDateTime.minute}},{{row.transactionDateTime.second}}),{{row.price}}],
                {% endif %}
            {% endfor %}
            ]
         }, 
         {
            type: 'scatter',
            name: 'Sell',
            color: 'rgba(0, 151, 70, 1)',
            data: [
            {% for row in transactions -%}
                {% if row.transactionType == 'sell' -%}
                  [ Date.UTC({{row.transactionDateTime.year}},{{row.transactionDateTime.month-1}},{{row.transactionDateTime.day}},{{row.transactionDateTime.hour}},{{row.transactionDateTime.minute}},{{row.transactionDateTime.second}}),{{row.price}}],
                {% endif %}
            {% endfor %}
            ]
         }]
      });
});
</script>
{% endblock %}

{% block content %}
    <div class="row">
         <div class="span12">
            <div class="page-header">
               <h1> <img src="http://image.eveonline.com/Type/{{item.typeID}}_32.png" class="img-polaroid"> {{item.typeName}}</h1>
            </div>  
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tabhist" data-toggle="tab">History</a></li>
                    <li><a href="#tabinfo" data-toggle="tab">Info</a></li>
                    <li><a href="#taborder" data-toggle="tab">Orders</a></li>
                    <li><a href="#tabasset" data-toggle="tab">Assets</a></li>
                    <li><a href="#tabtrans" data-toggle="tab">Transactions</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabhist">
                        <div id="chart_div" style="height: 400px;"></div>
                    </div>
                    <div class="tab-pane" id="tabinfo">
                        {{item.typeName}}
                    </div>
                    <div class="tab-pane" id="taborder">
                        <table class="table" id="tableorder">     
                            <thead>
                                <th scope="col">Character</th>
                                <th scope="col">b/s</th>
                                <th scope="col">Date</th>
                                <th class="ral" scope="col">Price</th>
                                <th class="ral" scope="col">n</th>
                                <th class="ral" scope="col">Total</th>
                                <th scope="col">Station</th>
                            </thead>
                            <tbody>
                                {% for row in orders %}  
                                <tr> 
                                <td><a href="/char/{{row.character.get().characterID}}">{{row.character.get().characterName}}</a></td>
                                <td>{{row.bid}}</td>
                                <td>{{row.issued}}</td>
                                <td class="ral">{{'{:20,.2f}'.format(row.price)}}</td>
                                <td class="ral">{{row.volRemaining}}</td>
                                <td class="ral">{{'{:20,.2f}'.format(row.price*row.volRemaining)}} </td>
                                <td><a href="/station/{{row.stationID}}">{{row.stationID}}</a></td> 
                                </tr> 
                                {% endfor %} 
                            <tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="tabasset">
                        <table class="table" id="tableasset">     
                            <thead>
                                <th scope="col">Character</th>
                                <th scope="col">flag</th>
                                <th scope="col">singleton</th>
                                <th scope="col">rawQuantity</th>
                                <th class="ral" scope="col">n</th>
                                <th scope="col">Location</th>
                            </thead>
                            <tbody>
                                {% for row in assets %}  
                                <tr> 
                                <td><a href="/char/{{row.character.get().characterID}}">{{row.character.get().characterName}}</a></td>
                                <td>{{row.flag}}</td>
                                <td>{{row.singleton}}</td>
                                <td>{{row.rawQuantity}}</td>
                                <td class="ral">{{row.quantity}}</td>
                                <td><a href="/station/{{row.locationID}}">{{row.locationID}}</a></td> 
                                </tr> 
                                {% endfor %} 
                            <tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="tabtrans">
                        <table class="table" id="tabletrans">     
                            <thead>
                                <th scope="col">Character</th>
                                <th scope="col">b/s</th>
                                <th scope="col">Date</th>
                                <th class="ral" scope="col">Price</th>
                                <th class="ral" scope="col">n</th>
                                <th class="ral" scope="col">Total</th>
                                <th scope="col">Station</th>
                            </thead>
                            <tbody>
                                {% for row in transactions %}  
                                <tr> 
                                <td><a href="/char/{{row.character.get().characterID}}">{{row.character.get().characterName}}</a></td>
                                <td>{{row.transactionType}}</td>
                                <td>{{row.transactionDateTime}}</td>
                                <td class="ral">{{'{:20,.2f}'.format(row.price)}}</td>
                                <td class="ral">{{row.quantity}}</td>
                                {% if row.transactionType=="sell" %}  
                                <td class="ral"><p class="text-success"> {{'{:20,.2f}'.format(row.quantity*row.price)}} </p></td>
                                {% else %}  
                                <td class="ral"><p class="text-error"> {{'{:20,.2f}'.format(row.quantity*row.price)}} </p></td>
                                {% endif %}  
                                <td><a href="/station/{{row.stationID}}">{{row.stationName}}</a></td> 
                                </tr> 
                                {% endfor %} 
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
