{% extends "base.html" %}

{% block extra_head %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
    var chart1; // globally available
    var chart2; // globally available
    $(document).ready(function() {
      chart1 = new Highcharts.Chart({
         chart: {
            renderTo: 'chart1_div',
            type: 'area',
            zoomType: 'x'
         },
         title: {
            text: 'History'
         },
         xAxis: {
            type: 'datetime',
            title: {
               text: 'Date'
            },
         },
         yAxis: {
            title: {
               text: 'ISK'
            },
            min: 0,
         },
          plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
         series: [
         {
            name: 'Liquid',
            color: '#2D823C', 
            data: [
            {% for row in history_data %}
                [ Date.UTC({{row[0].year}},{{row[0].month-1}},{{row[0].day}},{{row[0].hour}},{{row[0].minute}},{{row[0].second}}) ,{{row[3]}}],
            {% endfor %}
            ]
         }, 
         {
            name: 'Sell Orders',
            color: '#AA433B',
            data: [
            {% for row in history_data %}
                [ Date.UTC({{row[0].year}},{{row[0].month-1}},{{row[0].day}},{{row[0].hour}},{{row[0].minute}},{{row[0].second}}) ,{{row[1]}}],
            {% endfor %}
            ]
         }, 
         {
            name: 'Buy Orders',
            color: '#AA883B',
            data: [
            {% for row in history_data %}
                [ Date.UTC({{row[0].year}},{{row[0].month-1}},{{row[0].day}},{{row[0].hour}},{{row[0].minute}},{{row[0].second}}) ,{{row[2]}}],
            {% endfor %}
            ]
         }, 
         {
            name: 'Assets',
            color: '#313F73',
            data: [
            {% for row in history_data %}
                [ Date.UTC({{row[0].year}},{{row[0].month-1}},{{row[0].day}},{{row[0].hour}},{{row[0].minute}},{{row[0].second}}) ,{{row[4]}}],
            {% endfor %}
            ]
        }]
      });
      
        chart2 = new Highcharts.Chart({
            chart: {
            renderTo: 'chart2_div',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '{{ session.username }}'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: $'+ Highcharts.numberFormat(this.point.y, 0); ;
                        }
                    }
                }
            },
            series: [        {
                type: 'pie',
                name: 'Current ISK',
                data: [
                {% for wallet in wallet_data %}
                  {
                    name: '{{wallet[0]}}',
                    y: {{wallet[1]}},
                    color: '#2D823C' 
                  }, 
                {% endfor %}
                {% for sell in sell_data %}
                {
                    name: '{{sell[0]}}',
                    y: {{sell[1]}},
                    color: '#AA433B'
                }, 
                {% endfor %}
                {% for buy in buy_data %}
                {
                    name: '{{buy[0]}}',
                    y: {{buy[1]}},
                    color: '#AA883B' 
                }, 
                {% endfor %}                
                {% for asset in asset_data %}
                {
                    name: '{{asset[0]}}',
                    y: {{asset[1]}},
                    color: '#313F73' 
                }, 
                {% endfor %}
                ]
         }]
        });
      
      
      
   });
   </script>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h1>Overview <small>{{ session.username }}</small></h1>
            </div>
        </div><!--/span--> 
    </div><!--/row-->  

    <div class="row-fluid">
        <div class="span12">
            <h2>Net Worth <small>{{'{:20,.2f}'.format(net)}}</small></h2>
            <div id="chart2_div" style="height: 400px;"></div>
            <div id="chart1_div" style="height: 400px;"></div>
        </div><!--/span-->   
    </div><!--/row-->    
    
      
  
{% endblock %}
