{% extends "base.html" %}

{% block extra_head %}
    <style type="text/css">
      @import "/static/datatables/media/css/demo_table.css";
    </style>

<script class="jsbin" src="http://datatables.net/download/build/jquery.dataTables.nightly.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('#example').dataTable({
    "iDisplayLength": 15,
    "aLengthMenu": [[15,50,100,500,-1], [15,50,100,500, "All"]],
    "aaSorting": [[ 2, "desc" ]],
    });
});
</script>

{% endblock %}

{% block content %}
    <div class="row">
         <div class="span12">
            <div class="page-header">
                <h1>Transactions <small>from wallet</small></h1>
            </div>        
            <table class="table table-striped" id="example">           

                <thead>
                    <th scope="col">Character</th>
                    <th scope="col">b/s</th>
                    <th scope="col">Date</th>
                    <th scope="col">Item</th>
                    <th class="ral" scope="col">Price</th>
                    <th class="ral" scope="col">n</th>
                    <th class="ral" scope="col">Total</th>
                    <th scope="col">Station</th>
                </thead>
                <tbody>
                    {% for row in data %}  
                    <tr> 
                    <td><a href="/char/{{row[0]}}">{{row[1]}}</a></td>
                    <td>{{row[9]}}</td>
                    <td>{{row[2]}}</td>
                    <td><a href="/item/{{row[5]}}">{{row[4]}}</a></td>
                    <td class="ral">{{'{:20,.2f}'.format(row[6])}}</td>
                    <td class="ral">{{row[3]}}</td>
                    {% if row[9]=="sell" %}  
                    <td class="ral"><p class="text-success"> {{'{:20,.2f}'.format(row[3]*row[6])}} </p></td>
                    {% else %}  
                    <td class="ral"><p class="text-error"> {{'{:20,.2f}'.format(row[3]*row[6])}} </p></td>
                    {% endif %}  
                    <td><a href="/station/{{row[7]}}">{{row[8]}}</a></td> 
                    </tr> 
                    {% endfor %} 
                <tbody>
            </table>
        </div><!--/span-->
    </div><!--/row-->
{% endblock %}
