{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript">
    $(document).ready(function() {
      $('#scan-total').text(type_ids.length);
    });
    
    var type_ids = [{% for row in data%}{{row[0]}}{% if not loop.last %},{%endif%}{% endfor %}];
    var names = [{% for row in data%}"{{row[1]}}"{% if not loop.last %},{%endif%}{% endfor %}];
    var jita_price = [{% for row in data%}{{row[2]}}{% if not loop.last %},{%endif%}{% endfor %}];
    var import_price = [{% for row in data%}{{row[3]}}{% if not loop.last %},{%endif%}{% endfor %}];
    var margin_direction = {{1-2*bid}};
    
    index = 0;
    function next() {
      if (index >= type_ids.length) {
        index = 0;
        $('#name').text("");
        $('#jita_price').text("");
        $('#import_price').text("");
        $('#import_price5').text("");
        $('#import_price10').text("");
        $('#import_price15').text("");
        $('#import_price20').text("");
        $('#import_price25').text("");
        $('#import_price30').text("");
        $('#scan-done').text(index);
      }
      else {
        CCPEVE.showMarketDetails(type_ids[index]);
        $('#name').text(names[index]);
        $('#jita_price').text(Math.round(jita_price[index]));
        $('#import_price').text(Math.round(import_price[index]));
        $('#import_price5').text(Math.round(import_price[index]* (1.+.05*margin_direction)));
        $('#import_price10').text(Math.round(import_price[index]*(1.+.10*margin_direction)));
        $('#import_price15').text(Math.round(import_price[index]*(1.+.15*margin_direction)));
        $('#import_price20').text(Math.round(import_price[index]*(1.+.20*margin_direction)));
        $('#import_price25').text(Math.round(import_price[index]*(1.+.25*margin_direction)));
        $('#import_price30').text(Math.round(import_price[index]*(1.+.30*margin_direction)));
        index++;
        $('#scan-done').text(index);
      }
    }
    
  </script>

{% endblock %}


{% block content %}
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Update Market Orders <small>{{import_cost}} isk/m3</small></h1>
            </div>
        </div><!--/span--> 
    </div><!--/row-->   

    <div class="row-fluid">
        <div class="span4">
            <button class="btn btn-primary" id="scan-button" onclick="next();">Next Item</button>
            : Scanned <strong id="scan-done">0</strong> of <strong id="scan-total"></strong>
            <h3 id="name"><small></small></h3>
            
            <table class="table table-striped">
                <tbody>
                    <tr><td>Jita Price</td><td id="jita_price"></td></tr>
                    <tr><td>Import Price</td><td id="import_price"></td></tr>
                    <tr><td>5% Margin</td><td id="import_price5"></td></tr>
                    <tr><td>10% Margin</td><td id="import_price10"></td></tr>
                    <tr><td>15% Margin</td><td id="import_price15"></td></tr>
                    <tr><td>20% Margin</td><td id="import_price20"></td></tr>
                    <tr><td>25% Margin</td><td id="import_price25"></td></tr>
                    <tr><td>30% Margin</td><td id="import_price30"></td></tr>
                </tbody>
            </table>

        </div><!--/span--> 
    </div><!--/row-->   
{% endblock %}

