{% extends "base.html" %}
{% import "helpers/forms.html" as forms %}

{% block content %}
    <div class="row">
      <div class="col-md-12">
            <div class="page-header">
                <h1>Import Tool <small>...</small></h1>
            </div>    
            <form action="{{url_for('crest.import_tool')}}" method="POST">
                {{ forms.render(form) }}
                <button type="Submit" class="btn btn-default">Submit</button>
            </form>
            {{data}}
            <table class="table" id="example">     
                <thead>
                    <th scope="col">Item</th>
                    <th class="ral" scope="col">Volume</th>
                    <th class="ral" scope="col">Stock</th>
                    <th class="ral" scope="col">Days</th>
                    <th class="ral" scope="col">Source Price</th>
                    <th class="ral" scope="col">Destination Price</th>
                    <th class="ral" scope="col">Margin</th>
                </thead>
                <tbody>
                    {% for row in data %}  
                    <tr> 
                    <td><a href="/item/{{row[0].id}}">{{ row[0].name }}</a></td>
                    <td class="ral">{{ row[3].average_volume }}</td>
                    <td class="ral">{{ row[1].current_sell_volume or 0 }} ({{ row[1].current_sell_orders or 0 }} orders)</td>
                    <td class="ral">{{ (row[1].current_sell_volume or 0.0)/row[3].average_volume }}</td>
                    <td class="ral"> {{ row[2].current_sell }} ({{ row[2].current_sell_percentile }})</td>
                    <td class="ral">{{ row[1].current_sell }} ({{ row[1].current_sell_percentile }})</td>
                    <td class="ral">TODO</td>
                    </tr> 
                    {% endfor %} 
                <tbody>
            </table>
        </div><!--/col-md-->
    </div><!--/row-->
{% endblock %}
