{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <div class="page-header">
              <h1>API <small> Eve api's linked to this account: </small></h1>
            </div>          

            <table class="table">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Verification Code</th>
                    <th scope="col"> </th>
                </thead>
                <tbody>
                    {% for api in data %}  
                        <tr> 
                        <td>{{api.id}}</td> 
                        <td>{{api.vcode}}</td> 
                        <td> <a href="api_refresh/{{api.id}}" class="icon-refresh"> </td> 
                        <td> <a href="api_delete/{{api.id}}" class="icon-remove"> </td> 
                        </tr> 
                    {% endfor %} 
                <tbody>
            </table>
        </div><!--/span-->
        <div class="span2 offset9">
  
            <a href="/api_add" class="btn btn-primary">Add</a>
        
        </div><!--/span-->
    </div><!--/row-->
{% endblock %}












