{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" role="form" method="post" action="/api_add">
                <div class="form-group">
                    <label for="api_id" class="col-md-3 control-label">API Key ID</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control"  name="api_id" id="api_id" placeholder="ID">
                    </div>
                </div>
                <div class="form-group">
                    <label for="api_vcode" class="col-md-3 control-label">API Key VCode</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control"  name="api_vcode" id="api_vcode" placeholder="VCode">
                    </div>
                </div>
                <div class="col-md-1 col-md-offset-9">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div><!--/col-md-->
    </div><!--/row-->
{% endblock %}

