{% extends "base.html" %}

{% block extra_head %}
    <style type="text/css">
      @import "/static/datatables/css/demo_table.css";
    </style>

<script class="jsbin" src="http://datatables.net/download/build/jquery.dataTables.nightly.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('#example').dataTable({
    "iDisplayLength": 15,
    "aLengthMenu": [[15,50,100,500,-1], [15,50,100,500, "All"]],
    });
});
</script>

{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-12">
            <div class="page-header">
                <h1>Stuff <small>blah</small></h1>
            </div>    
            
            <table class="table" id="example">     
                <thead>
                    <th scope="col">Item</th>
                    <th class="ral" scope="col">Volume</th>
                    <th class="ral" scope="col">Stock</th>
                    <th class="ral" scope="col">Days</th>
                    <th class="ral" scope="col">Source Price</th>
                    <th class="ral" scope="col">Destination Price</th>
                    <th class="ral" scope="col">Margin</th>
                    <th scope="col">Age</th>
                </thead>
                <tbody>
                    {% for row in data %}  
                    <tr> 
                    <td><a href="/item/{{row[0].typeID}}">{{row[0].typeName}}</a></td>
                    <td class="ral">{{0}}</td>
                    <td class="ral">{{1}}</td>
                    <td class="ral">{{2}}</td>
                    <td class="ral">{{'{:20,.2f}'.format(row[1])}}</td>
                    <td class="ral">{{'{:20,.2f}'.format(row[2])}}</td>
                    <td class="ral">{{'{:20,.2f}'.format(row[2])}}</td>
                    <td>age</a></td> 
                    </tr> 
                    {% endfor %} 
                <tbody>
            </table>
        </div><!--/col-md-->
    </div><!--/row-->
{% endblock %}
