{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <div class="page-header">
              <h1>API <small> Projects: </small></h1>
            </div>          

            <table class="table">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Output</th>
                    <th scope="col">Quantity</th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                </thead>
                <tbody>
                    {% for project in data %}  
                        <tr> 
                        <td>{{project.id}}</td> 
                        <td>{{project.output_id}}</td> 
                        <td>{{project.output_quantity}}</td> 
                        <td> <a href="project_refresh/{{project.id}}" class="icon-refresh"> </td> 
                        <td> <a href="project_delete/{{project.id}}" class="icon-remove"> </td> 
                        </tr> 
                    {% endfor %} 
                <tbody>
            </table>
        </div><!--/span-->
        <div class="span2 offset9">
            <a href="/project_add" class="btn btn-primary">New</a>
        </div><!--/span-->
    </div><!--/row-->
{% endblock %}












