{% extends "base.html" %}
{% block content %}
    <div class="row">
      <div class="col-md-12">
            <div class="page-header">
              <h1>Tasks:</h1>
            </div>          

            <table class="table table-hover">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">type</th>
                    <th scope="col"></th>
                    <th scope="col">Output</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Progress </th>
                </thead>
                <tbody>
                    {% for task in data.tasks %}  
                        <tr>
                        <td>{{task.id}}</td>
                        <td>{{task.activity.type}}</td>
                        <td><img src="http://image.eveonline.com/Type/{{task.output_id}}_32.png" class="img-responsive"></td>
                        <td>{{task.output_id}}</td>
                        <td>{{task.output_quantity}}</td>
                        <td>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span class="sr-only">60% Complete</span>
                              </div>
                              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                                <span class="sr-only">10% Complete</span>
                              </div>
                            </div>
                        </td>
                        </tr>
                    {% endfor %} 
                <tbody>
            </table>
        </div><!--/col-md-->
    </div><!--/row-->
{% endblock %}
