{% extends "base.html" %}

{% block extra_head %}
    <style type="text/css">
      @import "/static/datatables/css/demo_table.css";
    </style>

<script class="jsbin" src="http://datatables.net/download/build/jquery.dataTables.nightly.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('#example').dataTable({
    "iDisplayLength": 15,
    "aLengthMenu": [[15,50,100,500,-1], [15,50,100,500, "All"]],
    });
});
</script>

{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-12">
            <div class="page-header">
                <h1>Assets <small>tag</small></h1>
            </div>    
            <table class="table" id="example">     
                <thead>
                    <th scope="col">Corporation</th>
                    <th scope="col">Character</th>
                    <th scope="col">flag</th>
                    <th scope="col">singleton</th>
                    <th scope="col">rawQuantity</th>
                    <th scope="col">Item</th>
                    <th class="ral" scope="col">n</th>
                    <th scope="col">Location</th>
                </thead>
                <tbody>
                    {% for row in data %}  
                    <tr> 
                    <td><a href="/char/{{row.corporation.id}}">{{row.corporation.name}}</a></td>
                    <td><a href="/char/{{row.character.id}}">{{row.character.name}}</a></td>
                    <td>{{row.flag}}</td>
                    <td>{{row.singleton}}</td>
                    <td>{{row.rawQuantity}}</td>
                    <td><a href="/item/{{row.typeID}}">{{row.type.typeName}}</a></td>
                    <td class="ral">{{row.quantity}}</td>
                    <td><a href="/station/{{row.locationID}}">{{row.locationID}}</a></td> 
                    </tr> 
                    {% endfor %} 
                <tbody>
            </table>
        </div><!--/col-md-12-->
    </div><!--/row-->
{% endblock %}
