{% extends "base.html" %}
{% block content %}
    <div class="row">
      <div class="col-md-12">
  
            <form method="post" action="/list" class="form-horizontal">
                {% if error %}
                    <div class="alert alert-error">
                      <button type="button" class="close" data-dismiss="alert">x</button>
                      <strong>Error!</strong> {{ error }}
                    </div>
                {% endif %}
              <div class="form-group">
                <label class="control-label" for="inputCost">Shipping</label>
                <div class="controls">
                  <input type="text" name="cost" value="400">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="inputStuff">Paste: </label>
                <div class="controls">
                  <textarea name="stuff" rows="10"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="controls">

                    <button type="submit" class="btn">Go</button>
                </div>
              </div>
            </form>

        </div><!--/col-md-12-->
    </div><!--/row-->
{% endblock %}

