{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" role="form" method="post" action="/project_add">
                <div class="form-group">
                    <label for="output_id" class="col-md-3 control-label">Item ID</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control"  name="output_id" id="output_id" placeholder="Item ID">
                    </div>
                </div>
                <div class="form-group">
                    <label for="output_quantity" class="col-md-3 control-label">Quantity</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control"  name="output_quantity" id="output_quantity" placeholder="Quantity">
                    </div>
                </div>
                <div class="col-md-1 col-md-offset-9">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div><!--/col-md-->
    </div><!--/row-->
{% endblock %}

