{% extends "base.html" %}
{% block content %}
    <div class="row">
      <div class="col-md-12">
            <div class="page-header">
              <h1>Search <small> Market items found matching: {{searchTerm}} </small></h1>
            </div> 

            <table class="table table-striped">
              <thead>
                 <th scope="col">Item ID</th>					
                 <th scope="col">Item Name</th>
              </thead>
              <tbody>
                   {% for item in searchData %}
                    </tr> 
                    <td><img src="http://image.eveonline.com/Type/{{item.typeID}}_32.png" class="img-polaroid"></td>
                    <td><a href="/item/{{item.typeID}}">{{item.typeName}}</a></td>
                    </tr> 
                    {% endfor %}
              
              <tbody>
            </table>
        </div><!--/col-md-->
    </div><!--/row-->

{% endblock %}